/* All

TO DO::
 Fix call to action section

 add spacing/ padding/ margin/ w.e

*/

*{
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1{
  font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;  
}

h4{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

/* Header */

header{
    background-color: #1F2937;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header_left{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
}


/* Main */

/* Main - Title */

.title{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
}


.title_left{
    font-size: 18px;
    color: #E5E7EB;
}

.title_left_button{
    background-color: #3882F6;
    color: #E5E7EB;
    width: fit-content;
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
}


.title_left_button_text{
    font-size: 18px;
    color: #E5E7EB;
}

.title_right_image_placeholder{
    background-color: #6d747d;
    color: #E5E7EB;
    width: fit-content;
    padding: 80px;
    margin: 0px;
}

/* Main - Boxes */

.box_boxes{
    display: flex;
    justify-content: space-evenly; 
    padding-top: 25px;
    padding-bottom: 25px;
}

.box_boxes1{
    height: 100px;
    width: 100px;
    border: solid;
    border-color: #3882f6;
    border-radius: 10px;

  }

.box_boxes2{
    height: 100px;
    width: 100px;
    border: solid;
    border-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: center; 
  }
.box_boxes3{
    height: 100px;
    width: 100px;
    border: solid;
    border-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: center; 
  }
.box_boxes4{
    height: 100px;
    width: 100px;
    border: solid;
    border-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: center; 
  }

  

.box_text{
    color: #58616e;
    display: flex;
    justify-content: space-evenly;
}

/* Main - Quote */

.quote{
    background-color: #E5E7EB;
    padding-top: 25px;
    padding-bottom: 25px;

}
.quote_text{
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    display:flex;
    justify-content: center;
    
}
.quote_author{
    display:flex;
    justify-content: center;
    padding-left: 500px;
    font-size: 25px;
    color: #1F2937;
}

/* Main - call to action */

.action{
    padding-left: 30%;
    padding-top: 25px;
}

.action_box{
    height: 100px;
    width: 800px;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.action_box_left h6{
    color:#F9FAF8;
    font-size: 20px;
}
.action_box_left p{
    color:#E5E7EB;
    font-size: 20px;
}

.action_box_right_button{
    border-color: #F9FAF8;
    border-style: solid;
    color: #E5E7EB;
    width: fit-content;
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
}


.action_box_right_button_text{
    font-size: 18px;
    
}


/* Footer */

footer{
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    background-color: #1F2937;
    padding-top: 25px;
}