/* All

TO DO::
  Nope, break things down in the context of how they are supposed to be positioned
 For e.g in the header, i only need one to go left and another to right
 So two boxes/divs would suffice


*/

*{
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

/* Header */

header{
    background-color: #1F2937;

}

.header_left{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}


/* Main */

/* Main - Title */

.title{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}


.title_left{
    font-size: 18px;
    color: #E5E7EB;
}

.title_left_button{
    background-color: #3882F6;
    color: #E5E7EB;
    width: fit-content;
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
}


.title_left_button_text{
    font-size: 18px;
    color: #E5E7EB;
}

.title_right_image_placeholder{
    background-color: #6d747d;
    color: #E5E7EB;
    width: fit-content;
    padding: 80px;
    margin: 0px;
}

/* Main - Boxes */




/* Footer */